// variaveis

$cor-laranja: #dd6d49;
$cor-cinza:#565759;
$cor-cinza-mais-escuro: #363D3C;
$cor-cinza-medio-escuro: #3D4141;
$cor-cinza-menos-escuro: #565654;
$cor-laranja-escuro: #BD4C37;
$cor-laranja-medio: #D1553A;
$cor-laranja-claro: #F26440;
$cor-cinza-claro: #ABA7A1;
$cor-cinza-mais-claro: #DBD9D4;
$fonte-padrao: 'Open Sans', sans-serif;
$fonte-titulos: 'comfortaaregular';
$font-size-title: 2.5rem;

// extends

%orange-border {
    border: 4px solid $cor-laranja;
    background: none;
    color: $cor-laranja;
    border-radius: 5px;
}

// general config

.retangulo-laranja {
    @extend %orange-border;
    width: 535px;
    height: 315px;
}

main {
    #historia {
        
        .text-center{

            h1 {
                color: $cor-laranja;
            }

            p {
                font-size: x-large;
            }
        }
    }
}

//Media

@media (max-width: 1024px) {
    .retangulo-laranja {
        height: 370px;
    }
}

@media (max-width:768px) {
    
    .retangulo-laranja {
        border: none;
        padding: 0;
    }
}

@media (max-width: 440px) {
    main #historia .text-center p {
        font-size: large;
    }
}


