// imports

@import 'historia';

// variaveis
$cor-laranja: #dd6d49;
$cor-cinza:#565759;
$cor-cinza-mais-escuro: #363D3C;
$cor-cinza-medio-escuro: #3D4141;
$cor-cinza-menos-escuro: #565654;
$cor-laranja-escuro: #BD4C37;
$cor-laranja-medio: #D1553A;
$cor-laranja-claro: #F26440;
$cor-cinza-claro: #ABA7A1;
$cor-cinza-mais-claro: #DBD9D4;
$fonte-padrao: 'Open Sans', sans-serif;
$fonte-titulos: 'comfortaaregular';
$font-size-title: 2.5rem;


// general config
* { 
    font-family: $fonte-titulos;
    color: $cor-cinza;
}

p {
    font-family: $fonte-padrao;
    margin: 0;
}

// index config

nav {
    background-color: $cor-cinza-mais-escuro;
    
    ul {
        margin:0;
        display: flex;
        justify-content: flex-end;
    
        li {
            list-style: none;
            display: inline-block;
            padding: 15px;
        }  
        
        a {
            color: #ffffff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
            color: #ffffff;
        }   
    }
}

#missao {

    .retangulo-laranja {

        .p-missao {
            line-height: 1.5rem;
        }
    }
}

.btn1{
    border: 2px solid $cor-laranja;
    background: none;
    color: $cor-laranja;
    border-radius: 5px;
    cursor: pointer;

    a{
        color: #ffffff;
        text-decoration: none;
    }
}
#servicos {
        
    h2 {
        text-align: center;
        padding-bottom: 15px;
        color: $cor-laranja;
        font-size: $font-size-title;
    }

    .retangulo-laranja {
        height: auto;
    }
    
    .card {
        margin-bottom: 60px;
        
        a{
          color: $cor-cinza;
          text-decoration: none;

        img {
            margin-top: 20px;
         }
       
        }

        .card-body {

            h3 {

            }
        }
    }

    .btn1 {
        padding: 10px 20px;
        cursor: pointer;
    }
}


#eventos {
    
    h2 {
        font-size: $font-size-title;
        color: $cor-laranja;
    
    }
}

#form-contato {
    background-color: $cor-cinza;

    h2 {
        font-size: $font-size-title;
        color: $cor-laranja;
    }

    #mc_embed_signup_scroll {

        .mc-field-group {
            font-family: $fonte-padrao;
            

            label {
                font-family: $fonte-padrao;
                color: white;
            }

            input::placeholder{
                color: $cor-cinza-mais-claro;
            }
        }

        .form-control:focus {
            border-color: $cor-laranja;
            box-shadow: 0 0 0 .2rem rgba(216, 65, 38, 0.337);
        }
        
        .btn1 {
            padding: 10px 20px;
            cursor: pointer;
        }
    }
}

#banner-loja {

    #img-mobile {
        display: none;
    }

    #img-desktop {
        display: block;
    }
       
    .card-img-overlay {

        .card-text {
            color: white;
            padding: 100px 800px 60px 100px;
            font-size: x-large;
        }

        .btn1 {
            padding: 10px 20px;
            margin-left: 100px;
            cursor: pointer;
        }
    }
}


footer {
    background-color: $cor-laranja;

    
    }
    // .footer-img {
    //     width: 10%;
    // }

    // .footer-imgreprograma {
    //     width: 30%;
    // }   


#reprograma {
    background-color: $cor-cinza-mais-escuro;

    p {
        color: white;
        font-style: italic;
        font-size: x-small;
    }
}

.scrollToTop {
    position:fixed;
    bottom: 27px;
    right: 15px;
    display:none;
    padding: 10px;
    cursor: pointer;

    .scroll-img {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    
    #banner-loja .card-img-overlay .card-text {
        padding: 66px 549px 45px 15px;
        font-size: large;
    } 

    #banner-loja .card-img-overlay .btn1 {
        margin-left: 10px;
    }

}

@media (max-width:768px) {
    #missao .retangulo-laranja {
        width: 100%;
        height: auto;
    }
    
    #banner-loja #img-mobile {
        display: block;
    }
    
    #banner-loja #img-desktop {
        display: none;
    }
    
    #banner-loja .card-img-overlay .card-text {
        padding: 125px 227px 45px 10px;
    }
    
    #banner-loja .card-img-overlay .btn1 {
        margin-left: 10px;
    }
    
}

@media (max-width: 400px) {
    #banner-loja .card-img-overlay .card-text {
        padding: 10px 90px 10px 10px;
        font-size: small;
    } 
}


